/* Image wrapper forces equal size */
.product-img-wrapper {
  height: 220px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #fff;
}

/* Image behavior */
.product-img-wrapper img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;   /* OR cover if you want crop */
}

/* Card consistency */
.card {
  height: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-body .btn {
  margin-top: auto;
}


.logo-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
